* { 
  box-sizing: border-box;
}
body {
  background-color:gray;
  font-family: Verdana, sans-serif;
  color: white
}
img {
  border-radius: 8px;
}

h2, h3 {
  font-size: 45px;
  margin:0 0 -.7em 0;
}
h5 {
  font-size: 20px;
  text-align: center;
  border: 2px solid white; 
  padding: 10px;
}
.menu-layout {
  display: flex;
  margin: 8px auto;
  justify-content: space-between;
}


.menu-layout div {
  background-color: #5a332c;
  margin: 10px;
  padding: 20px;
  width: 200px;
  min-width: 100px;
  max-width: 300px;
  height: 75px;
  border: 1px solid white;
  font-size: 15px;
  color: white;
  text-align:center;
  animation-name: myanimation;
  animation-duration: 4s;
  animation-iteration-count: 5;
  animation-direction: alternate;
} 
.menu-layout div:hover{
  background-color:#a67b5b ;
  border-radius: 50%;
}
a {
  color:white;
  text-decoration: underline;
}

.column-layout {
  background-color:white;
  min-width:200px;
  max-width:800px;
  margin: 40px auto 0 auto;
  padding: 20px 40px;
  line-height: 1.65;
  display: grid;
  grid-template-areas:"menu content";
  gap: 20px;
}
.menu {
  grid-area: menu;
}
.content {
  grid-area: content;
}

.call-outs-container {
  max-width: 800px;
  margin: 40px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.call-out {
  padding: 20px;
  margin-bottom: 20px;
}

.call-out:nth-child(1) {
  background-color:gray;
  border: 1px solid white;
  color:white;
}

.call-out:nth-child(2) {
  background-color:gray;
  border: 1px solid white;
  color:white;
}
.call-out:nth-child(3) {
  background-color:gray;
  border: 1px solid white;
  color:white;
}
.call-out {
  padding: 20px;
  margin-bottom: 20px;
}

.call-out:nth-child(1) {
  background-color:gray;
  border: 1px solid white;
  color:white;
}

.call-out:nth-child(2) {
  background-color:gray;
  border: 1px solid white;
  color:white;
}
.call-out:nth-child(3) {
  background-color:gray;
  border: 1px solid white;
  color:white;
}

 body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

li {
  float: right;
  text-align:left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.dropbtn {
  background-color: #7f8081;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration-line: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
