* { 
  box-sizing: border-box;
}
body {
  background-color:#cab69d;
  font-family: Verdana, sans-serif;
  text-color: white
}

h2, h3 {
  font-size: 45px
  margin:0 0 -.7em 0;
}
.menu-layout {
  display: flex;
  margin: 8px auto;
  justify-content: space-between;
}


.menu-layout div {
  background-color: #5a332c;
  margin: 10px;
  padding: 20px;
  width: 200px;
  min-width: 100px;
  max-width: 300px;
  height: 75px;
  border: 1px solid white;
  font-size: 15px;
  color: white;
  text-align:center;
  animation-name: myanimation;
  animation-duration: 4s;
  animation-iteration-count: 5;
  animation-direction: alternate;
} 
.menu-layout div:hover{
  background-color:#a67b5b ;
  border-radius: 50%;
}
a {
  color:white;
  text-decoration: underline;
}

.column-layout {
  background-color:white;
  min-width:200px;
  max-width:800px;
  margin: 40px auto 0 auto;
  padding: 20px 40px;
  line-height: 1.65;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:"menu content";
  gap: 20px;
}
.menu {
  grid-area: menu;
}
.content {
  grid-area: content;
}

.call-outs-container {
  max-width: 800px;
  margin: 40px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.call-out {
  padding: 20px;
  margin-bottom: 20px;
}

.call-out:nth-child(1) {
  background-color:#977e7a;
  border: 1px solid white;
  color:white;
}

.call-out:nth-child(2) {
  background-color:#65443d;
  border: 1px solid white;
  color:white;
}
form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}

p + p {
  margin-top: 1em;
}

label {
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999999;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: black;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;}

button {
  margin-left: 0.5em;
}
.form {
  text-align: center;
}

